header {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0px    ;
}

.logo {
    padding: 0px 23px; 
} 

.family-tree {
    padding-top: 40px;
}

nav#menu {
    padding: 75px 0px 50px 50px;
    float: right;
}

nav#menu a {
    font-family: Arial, Helvitica, sans-serif;
    font-size: 17px;
    background: #ff5c5c;
    padding: 15px 20px;
    color: white;
    margin-right: 12px;
    text-decoration: none;
    border-radius: 3px;
    transition: background 0.5s linear 0s, color 0.3s linear 0s;
}

nav#menu > a:hover {
    background: grey;
    color: #FFF;
}

main {
    height: 550px;
    background: #aff767;
}

.parents {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.children {
   display: flex;
   
}

.flip-card {
    width: 240px; 
    height: 200px; 
    margin: 20px; 
    padding: 10px 10px;
/*    float: left; */
}
.flip-card > .front {
    position: absolute;
	-webkit-transform: perspective(600px) rotateY(0deg);
	transform: perspective(600px) rotateY(0deg);
	background: #f2db30; 
    width: 240px; 
    height: 200px; 
    border-radius: 7px;
    border: 8px solid white;  
    -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: -webkit-transform .5s linear 0s;
	transition: transform .5s linear 0s;
}

.flip-card > .back {
	position: absolute;
	-webkit-transform: perspective(600px) rotateY(180deg);
	transform: perspective(600px) rotateY(180deg);
	background: #00e5e6; 
    width:240px; 
    height:200px; 
    border-radius: 7px;
    border: 8px solid white;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: -webkit-transform .5s linear 0s;
	transition: transform .5s linear 0s;
}

.flip-card:hover > .front{
	-webkit-transform: perspective(600px) rotateY(-180deg);
	transform: perspective(600px) rotateY(-180deg);
}

.flip-card:hover > .back{
	-webkit-transform: perspective(600px) rotateY(0deg);
	transform: perspective(600px) rotateY(0deg);
}

.front {
    text-align: center;
    padding-top: 10px;
    font-family: 'Oswald', sans-serif;
}

footer {
    height: 50px;
    background-color: orange;
}

footer p {
    text-align: center;
    font-family: 'Kristi', cursive;
    font-size: 20px;
    padding-top: 10px;
}